* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

body{

    background-color: #0d1b2a;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 5fr auto;
    height: 100vh;
}

.bookshelf {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #415a77;
    color: #e0e1dd;
    gap: 20px;
}

.book-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1b263b;
}

button {
    display: inline-block;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    height: fit-content;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.read{
    background-color: green;
}

.not-read{
    background-color: red;
}

button:hover,
button:focus {
    filter: brightness(0.75);
}

.header .title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #e0e1dd;
}

.logo{
    height: 50px;
    filter: invert(100%) sepia(1%) saturate(1188%) hue-rotate(17deg) brightness(98%) contrast(79%);
}

.footer {
    display: flex;
    grid-row: -1;
    background-color: #1b263b;
    color: #e0e1dd;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.footer a{
    fill: #e0e1dd;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #1b263b;
    margin: auto;
    padding: 40px;
    width: fit-content;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    grid-template-columns: auto;
    color: #e0e1dd;
}

.form-title {
    font-size: 2rem;
    font-weight: 800;
}

.add-book-form {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 50%;
    gap: 20px;
}

.add-book-form > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 200px;
}

.number-page {
    grid-column: 1/-1;
    width: 200px;
}

#isRead {
    grid-row: 3;
    grid-column: 1/-1;
}

.add-button {
    height: fit-content;
    padding: 10px 20px;
    width: 150px;
    grid-column: 1/-1;
    justify-self: center;
}

.top-part{
    position: relative;
}

/* The Close Button */
.close {
    position: absolute;
    top: -30px;
    right: -20px;
    color: #e0e1dd;
    justify-self: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0d1b2a;
    text-decoration: none;
    cursor: pointer;
}
